Package: redobackup
Version: 1.0.2-1
Maintainer: Michal Suchanek <hramrach@gmail.com>
Depends: libgtk2-perl, libxml-simple-perl, fsarchiver
Recommends: os-prober
Architecture: all
License: GPL3
Description: Redobackup application
 This package contains the redobackup application scripts and data files.
 Plymouth theme and system configuration used on the original CD are excluded.
 Includes patch to preset network share from /etc/redo_share.
 Puts partclone logs to target directory so can run as user.
Homepage: http://redobackup.org
